firebase/config.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
.expo
# OSX
.DS_Store
.vscode
.vs
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
# Android/IJ
.idea
.gradle
local.properties
# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore
